{% extends 'base.html' %}
{% load webdesign %}

{% block content %}
    {% for post in posts %}
        <article>
            <header>
              <h2>
                <a href="{{ post.get_absolute_url }}"> {{ post.title }} </a>
              </h2>
            </header>
            <div>
                {% autoescape off %}
                {{ post.content_html }}
                {% endautoescape %}
            </div>
            <aside> {{ post.created_at|date }} </aside>
        </article>
    {% endfor %}
{% endblock %}
