{% extends 'base.html' %}

{% block title %} waylybaye 的博客 {% endblock title %}

{% block extra_head %}
  <link href='http://fonts.googleapis.com/css?family=Ruthie' rel='stylesheet' type='text/css'>
{% endblock extra_head %}

{% block content %}
  <section class="profile">
    <div class="row">
      <div class="span2">
        <a href='http://weibo.com/waylybaye'>
          <img src='http://tp2.sinaimg.cn/1673953377/180/5630247817/1' /></a>
      </div>
      <div class="span10">
        <h3>Baye Wayly</h3>
        <p>
          <strong> 自由职业者，全栈型程序员 </strong>
        </p>
        <p>
          LDD 实践者 ( Lazy Driven Development )
          <br>
          HTML/CSS -> Javascript -> Python -> Database
        </p>
        <p>
          <nav class='inline'>
            <ul>
              <li>
                <a href='http://weibo.com/waylybaye' title="新浪微博">@waylybaye</a>
              </li>
              <li>
                <a href="http://github.com/waylybaye" class="">Github</a>
              </li>
              <li>
              </li>
            </ul>
          </nav>
        </p>
      </div>
    </div>
  </section>

  <div class="row-fluid">
    <div class="span5">
      <iframe width="100%" height="800" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=800&fansRow=2&ptype=1&speed=0&skin=4&isTitle=1&noborder=1&isWeibo=1&isFans=0&uid=1673953377&verifier=1bf42c7d&dpc=1"></iframe>
    </div>

    <div class="span1">

    </div>
    <div class="span6">
      {% regroup posts by created_at|date:"Y" as posts_by_year %}
      {% for posts in posts_by_year %}
        <h3 class="year"> {{ posts.grouper }}</h3>
        <nav class="posts {% cycle "even-" "odd-" %}">
          <ul>
            {% for post in posts.list %}
              <li>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      {% endfor %}
    </div>
  </div>
{% endblock %}
