<section class="profile">
    <div class="row">
      <div class="span2">
        <a href='http://weibo.com/waylybaye'>
          <img src='http://tp2.sinaimg.cn/1673953377/180/5630247817/1' /></a>
      </div>
      <div class="span10">
        <h3>Baye Wayly</h3>
        <p>
          <strong> 自由职业者，全栈型程序员 </strong>
        </p>
        <p>
          LDD 实践者 ( Lazy Driven Development )，
          HTML/CSS -> Javascript -> Python -> Database
        </p>
        <p>
          <nav class='inline'>
            <ul>
              <li>
                <a target="_blank" href='http://weibo.com/waylybaye' title="新浪微博">@waylybaye</a>
              </li>
              <li>
                <a target="_blank" href="http://github.com/waylybaye" class="">Github</a>
              </li>
              <li>
                <a target="_blank" href="http://www.douban.com/people/waylybaye/">Douban</a>
              </li>
            </ul>
          </nav>
        </p>
        <p>
          你说我是一个梦想者，但我却不是唯一的一个
        </p>
      </div>
    </div>
  </section>
