body{ background: #f1f1f1;}
#sl-container{ width: 900px; margin: 1em auto;  }
#sl-sidebar{ text-align: right; }
#sl-sidebar-inner{ padding: 0; position: fixed; text-align: right; width: 130px;}
/*
#sl-page-header{ position: fixed; width: 746px;}
*/
#sl-content{ background: #fff; padding: 1em; margin: 1em 0;}
#sl-search-bar{ border-radius: 0; font-style: italic; --webkit-border-radius: 0; --moz-border-radius: 0; box-shadow: none;
    margin-bottom: 0;}
#sl-search-holder{ min-height: 100px; background: #fff; border: 1px solid #cccccc; margin-top: -2px; }

#sl-search-holder{ padding: 0; margin: 0;}
#sl-search-holder ul{ padding: 0; margin: 0;}
#sl-search-holder ul li{ list-style: none; padding: 5px 10px;}
#sl-search-holder ul li:hover{ background: lightBlue; }
#sl-search-holder ul li.result span.highlighted{ font-weight: bold; }
#sl-search-holder ul li.result a.title{ font-size: 13px; text-decoration: none; margin-right: 3em; min-width: 200px; display: inline-block;}
#sl-search-holder ul li.result span.content{ font-size: 12px; color: gray; font-style: italic;}
/*
#sl-blog-action .actions{ padding: 7px 10px; background: #f1f1f1; }
*/
#sl-actions .btn{ padding: 4px 10px; font-weight: bold; }

.clear-fix{ clear: both; }

#modal-login{ width: 270px; left: 60%;}
#modal-login .modal-body{ text-align: center; }

#post-form #id_title{ width: 500px; }
#post-form #id_content{ width: 500px; height: 200px; }
#sl-content{ position: relative; }
#sl-ajax-loading{ position: absolute; top: 0; left: -20px; display: none;}
body.loading #sl-ajax-loading{ display: block; }
body.loading #sl-content{ background: rgba(255, 255, 204, 0.6);}

article h1, h2, h3, h4, h5{ font-size: 14px; margin: 3px 0 5px; font-weight: bold;}
article aside{ font-size: 12px; color: gray; }
article{ margin-bottom: 2em; }
