{% extends 'base.html' %}
{% load i18n markup %}
{% load humanize %}

{% block title %}{{ post.title }}{% endblock %}

{% block page_actions %}
    {% if user.is_authenticated %}
        <a class='btn btn-small ajaxable' href='{% url "blog:edit" post.id %}'>{% trans 'Edit' %}</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% include "profile.html" %}
    <article>
        <header>
          <h2>
            <a href="{{ post.get_absolute_url }}"> {{ post.title }} </a>
          </h2>
        </header>

        <div>
            {% autoescape off %}
            {{ post.content_html }}
            {% endautoescape %}
        </div>
        <aside>
          {{ post.created_at|date }}
          {% if not post.last_update_at == post.created_at %}
            ( 更新: {{ post.last_update_at|naturalday }} )
          {% endif %}
        </aside>
    </article>

{% endblock %}
