{% extends 'base.html' %}
{% load i18n markup %}

{% block title %}{{ post.title }}{% endblock %}

{% block page_actions %}
    {% if user.is_authenticated %}
        <a class='btn btn-small ajaxable' href='{% url blog:edit post.id %}'>{% trans 'Edit' %}</a>
    {% endif %}
{% endblock %}

{% block content %}
    <article>
        <h2>{{ post.title }}</h2>
        <div>
            {% autoescape off %}
            {{ post.content_html }}
            {% endautoescape %}
        </div>
        <aside> {{ post.created_at|date }} </aside>
    </article>

{% endblock %}
