<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    {% load i18n chunks %}
    <section id="sl-container">
        <div class='row-fluid'>
            <div class='span2'>
                <aside id='sl-sidebar'>
                    <div id="sl-sidebar-inner">
                        waylybaye
                        {% block sidebar %}
                        {% endblock %}
                        {% chunk 'page_sidebar' %}
                    </div>
                </aside>
            </div>
            <div class="span10">
                <section>
                    <header id='sl-page-header'>
                    <div class='row-fluid'>
                            <div class='span8'>
                                <input id="sl-search-bar" type="text" name="q" placeholder="{% trans 'Search' %}" class="span12"/>
                            </div>
                            <div class='span4'>
                                <span id='sl-actions'>
                                    {% if user.is_authenticated %}
                                        <a class='btn btn-small ajaxable' href='{% url blog:post %}'>{% trans 'Post' %}</a>
                                        <a class='btn btn-small btn-logout' href='{% url account:logout %}'>{% trans 'Logout' %}</a>
                                    {% else %}
                                        <a class='btn btn-small btn-show-login' href='{% url account:login %}'>{% trans 'Login' %}</a>
                                    {% endif %}

                                    {% block page_actions %}
                                    {% endblock %}
                                </span>
                            </div>
                        <div class='clear-fix'></div>
                    </div>
                    </header>

                    <div id="sl-search-holder" class='hide'>
                    </div>
                </section>
                <section id="sl-content">
                    <div id='sl-ajax-loading'>
                        <img src='{{ STATIC_URL }}img/loading.gif' />
                    </div>

                    <header id='sl-content-header'>
                        {% chunk 'content-header' %}
                    </header>
                    {% block content %}
                    {% endblock %}
                    <footer id='sl-content-footer'>
                        {% chunk 'content-footer' %}
                    </footer>
                </section>
            </div>
        </div><!-- .row-fluid -->
    </section>

    <section class='modal hide' id='modal-login'>
        <div class='modal-header'>
            <button class='close' data-dismiss='modal'>x</button>
            <h3>{% trans 'Login' %}</h3>
        </div>
        <div class='modal-body'>
            <form action='{% url account:login %}' method='post' id='login-form'>
                {% csrf_token %}
                <p>
                <input type="text" name='username'  placeholder='{% trans 'username' %}'/>
                </p><p>
                <input type="password" name='password'  placeholder='{% trans 'password' %}'/>
                </p>
            </form>
        </div>
        <div class='modal-footer'>
            <button class='btn btn-login btn-primary btn-small' >{% trans 'Login' %}</button>
        </div>
    </section>

    <script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.history.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        (function(window, undefined){
            var History = window.History,
                $ = window.jQuery,
                document = window.document;

            $(function(){
                $('a').live('click', function(){
                    if( $(this).hasClass('btn') && ! $(this).hasClass('ajaxable')){
                        return true;
                    }
                    var href = $(this).attr('href');
                    if( href.substring(0, 7) === 'http://' && href.substring(0, rootUrl.length) !== rootUrl){
                        return true;
                    }

                    History.pushState(null, $(this).text(), href);
                    $('#sl-search-bar').blur();
                    $('#sl-search-holder').hide();
                    return false;
                });

                var rootUrl = History.getRootUrl();
                $(window).on('statechange', function(){
                    var State = History.getState(),
                        url = State.url,
                        relativeUrl = url.replace(rootUrl, '');

                    $('body').addClass('loading');
                    $.ajax({
                        url: url,
                        success: function(data, textStatus, jqXHR){
                            if( data ){
                                var html = String(data)
                                    .replace(/<\!DOCTYPE[^>]*>/i, '')
                                    .replace(/<(html|head|body|title|meta|script)([\s\>])/gi,'<div class="document-$1"$2')
                                    .replace(/<\/(html|head|body|title|meta|script)\>/gi,'</div>') ;

                                $dom = $(html)
                                var title = $dom.find('title').text();
                                document.title = title;
                                $('#sl-content').html( $dom.find('#sl-content').html() );
                                $('#sl-sidebar').html( $dom.find('#sl-sidebar').html() );
                                $('#sl-actions').html( $dom.find('#sl-actions').html() );
                            }
                            $('body').removeClass('loading');
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            document.location.href = url;
                            $('body').removeClass('loading');
                            return false;
                        }
                    });
                });

                $('#sl-search-bar').focus(function(){
                    $('#sl-search-holder').show();
                }).blur(function(){
                    if( ! $('#sl-search-holder').is(':hover') ){
                        $('#sl-search-holder').hide();
                    }
                });

            })

            $('.btn-show-login').click(function(){
                $('#modal-login').modal();
                return false;
            });

            $('.btn-login').click(function(){
                $.post('{% url account:login %}', $('#login-form').serialize(), function(data){
                   if( data.success ){
                       window.location.reload();
                   }else{
                        alert(data.message);
                   }
                }, 'json');
                return false;
            });

            $('#sl-search-bar').keyup(function(){
                var q = $(this).val();
                $('#sl-search-holder').load('{% url search %}?q=' + encodeURIComponent(q));
            });
        })(window);
    </script>
    {% block extra_body %}
    {% endblock %}
</body>
</html>
