<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    {% load i18n chunks %}
    <section id="sl-container" class="row-fluid">
        <aside id='sl-sidebar' class="span2">
            <div id="sl-sidebar-inner">
                waylybaye
                {% block sidebar %}
                {% endblock %}
                {% chunk 'page_sidebar' %}
            </div>
        </aside>
        <div class="span10">
            <section>
                <input id="sl-search-bar" type="text" name="q" placeholder="{% trans 'Search' %}" class="span8"/>
                <div id="sl-search-holder" class='hide'>
                    <ul>
                        <li class="result">
                            <a class='title' href="/post/dear-python" >Dear <span class="highlighted">Python</span></a>
                        </li>

                        <li class="result">
                            <a class='title' href="/post/learn-python" >学习 <span class="highlighted">Python</span> 奇偶爱吃</a>
                        </li>

                        <li class="result">
                            <a class='title' href="/post/ror" >Compare rails</a>
                            <span class="content"> <span class="highlighted">python</span> is good </span>
                        </li>
                    </ul>
                    <div class='actions'>
                        <a class='btn btn-primary btn-small' href='#'>{% trans 'Post' %}</a>
                    </div>
                </div>
            </section>
            <section id="sl-content">
                {% block content %}
                {% endblock %}
            </section>
        </div>
    </section>

    <script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.history.js"></script>
    <script type="text/javascript">
        (function(window, undefined){
            var History = window.History,
                $ = window.jQuery,
                document = window.document;

            $(function(){
                $('a').on('click', function(){
                    var href = $(this).attr('href');
                    if( href.substring(0, 7) === 'http://' && href.substring(0, rootUrl.length) !== rootUrl){
                        return true;
                    }
                    $.ajax({
                        url: href,
                        success: function(data, textStatus, jqXHR){
                            if( data ){
                                var html = String(data)
                                    .replace(/<\!DOCTYPE[^>]*>/i, '')
                                    .replace(/<(html|head|body|title|meta|script)([\s\>])/gi,'<div class="document-$1"$2')
                                    .replace(/<\/(html|head|body|title|meta|script)\>/gi,'</div>') ;

                                $dom = $(html)
                                var title = $dom.find('title').text();
                                History.pushState(null, title, href);
                                document.title = title;
                                $('#sl-content').html( $dom.find('#sl-content').html() );
                                $('#sl-sidebar').html( $dom.find('#sl-sidebar').html() );
                            }
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            document.location.href = href;
                            return false;
                        }
                    });
                    $('#sl-search-bar').blur();
                    $('#sl-search-holder').hide();
                    return false;
                });

                var rootUrl = History.getRootUrl();
                $(window).on('statechange', function(){
                    var State = History.getState(),
                        url = State.url,
                        relativeUrl = url.replace(rootUrl, '');
                });

                $('#sl-search-bar').focus(function(){
                    $('#sl-search-holder').show();
                }).blur(function(){
                    if( ! $('#sl-search-holder').is(':hover') ){
                        $('#sl-search-holder').hide();
                    }
                });

            })
        })(this);
    </script>
    {% block extra_body %}
    {% endblock %}
</body>
</html>
