<html>

<head>
  <title>Install</title>
  <link rel="stylesheet" href="/static/css/main.css"/>
</head>

<body class="install">
  <section id="main">
    <h1>Install Solog</h1>

    <form action="" method="post">

      <p>
        <label for="id_consumer_key">Dropbox App Key:</label>
        <input type="text" name="consumer_key" id="id_consumer_key"/>
      </p>

      <p>
        <label for="id_consumer_secret">Dropbox App Secret:</label>
        <input type="text" name="consumer_secret" id="id_consumer_secret"/>
      </p>

      <button>next</button>
    </form>
  </section>
</body>
</html>
